function FindProxyForURL(url, host){
   var host_ip;
   host_ip= dnsResolve(host);
   if (isInNet(host_ip, "127.0.0.1", "255.255.255.255"))
      return "DIRECT";
   if (isInNet(host_ip, "{{ subnet }}", "{{ mascara }}"))
      return "DIRECT";
   if (isInNet(host_ip, "172.16.0.0", "255.255.0.0"))
      return "DIRECT";
   if (isInNet(myIpAddress(), "0.0.0.0", "0.0.0.0"))
      return "PROXY {{ ipproxy }}:3128";
   else
      return "DIRECT";
}
