[libdefaults]
	default_realm = {{ dominio.upper() }}
	
[realms]
	 {{ dominio.upper() }} = {
		kdc = {{ servidordc }}.{{ dominio }}
		admin_server = {{ servidordc }}.{{ dominio }}
	}

		
[domain_realm]
	{{ servidordc }}.{{ dominio }} = {{ dominio.upper() }}
	.{{ dominio }} = {{ dominio.upper() }}
	{{ dominio }} = {{ dominio.upper() }}
