client
dev tun2
port 1198
proto tcp
remote ddclientservidor
resolv-retry infinite
nobind
persist-key
persist-tun
ca /etc/openvpn/client/ca.crt
cert /etc/openvpn/client/cert.crt
key /etc/openvpn/client/key.key
ns-cert-type server
comp-lzo
verb 3
ping 15
ping-restart 300
persist-key
#link-mtu 1300
#route-up "/etc/openvpn/comandos"






