client
port 1194
proto udp
dev tun
remote matrizcorreios.dnsalias.net
resolv-retry infinite
nobind
persist-key
persist-tun
ca ca.crt
cert cert.crt
key key.key
comp-lzo
verb 3
ping 15
ping-restart 300
persist-key
#link-mtu 1300
#route-up "comandos"
route-method exe
route-delay 2






