port 1198
proto udp
dev tap9
ca /etc/openvpn/servidorbri/ca.crt
cert /etc/openvpn/servidorbri/cert.crt
key /etc/openvpn/servidorbri/key.key  # This file should be kept secret
dh /etc/openvpn/servidorbri/dh1024.pem
server-bridge 192.168.132.251 255.255.255.0 192.168.132.202 192.168.132.230
ifconfig-pool-persist /etc/openvpn/servidorbri/ippbri.txt
push "route 172.16.0.0 255.255.0.0 192.168.132.250"
push "route 192.168.0.0 255.255.255.0 192.168.132.250"
client-config-dir /etc/openvpn/servidorbri/ccd
keepalive 10 120
comp-lzo "yes"
push "comp-lzo yes"
persist-key
persist-tun
status /etc/openvpn/servidorbri/openvpn-status.log
verb 3
client-to-client

