#!/bin/bash
if pidof -x $(basename $0) > /dev/null; then
  for p in $(pidof -x $(basename $0)); do
    if [ $p -ne $$ ]; then
      logger -s -t BCKDALRAF "Script $0 está sendo executado: saindo" >> {{ logbackup }} 2>&1
      exit
    fi
  done
fi
if /usr/bin/rsnapshot -v -c {{ arquivoconf }} daily >> {{ logbackup }} 2>&1
then
        if find {{ nagiosbackupresult }} -mmin +720 | grep {{ nagiosbackupresult }} >/dev/null 2>&1
	    then
            echo 0 > {{ nagiosbackupresult }}
	fi
	logger -s -t BCKDALRAF "Backup do {{ servidor }} efetuado com sucesso" >> {{ logbackup }} 2>&1
else
        echo 2 > {{ nagiosbackupresult }}
	logger -s -t BCKDALRAF "Backup do {{ servidor }} efetuado com erro" >> {{ logbackup }} 2>&1
fi

